In [1]:
# dependencies
import pandas as pd
import numpy as np

In [2]:
# make path with file
file_to_load = "Resources/purchase_data.csv"

In [3]:
# Import the data into a Pandas
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
total_num_playes = purchase_data["SN"].nunique()

In [5]:
# total players
total_unique_players = purchase_data["SN"].nunique()
total_unique_players

576

In [6]:
# PLAYER COUNT - FINAL TABLE
total_player_df = pd.DataFrame({
    "Total Players": [total_unique_players],})
total_player_df

   Total Players
0            576

In [7]:
#number of unique items
num_unique_items = purchase_data["Item ID"].nunique()
num_unique_items

183

In [8]:
# average price
ave_price = purchase_data["Price"].mean()
ave_price

3.050987179487176

In [9]:
# Number purchases
num_purchase = purchase_data["Purchase ID"].count()
num_purchase

780

In [10]:
# Total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [11]:
# PURCHASING  FINAL TABLE
#data frame for purchase analysis
purchase_analysis_df = pd.DataFrame({
    "Number of Unique Items": [num_unique_items], 
    "Average Price": [ave_price],
    "Number of Purchases": [num_purchase],
    "Total Revenue": [total_revenue],
})

purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:,.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [12]:
# Gender of demographics 
#  Percentage and Count of Male Players

gender_counts = purchase_data["Gender"]
gender_counts

0                       Male
1                       Male
2                       Male
3                       Male
4                       Male
5                       Male
6                       Male
7                       Male
8                       Male
9      Other / Non-Disclosed
10                      Male
11                      Male
12                      Male
13                      Male
14                      Male
15                    Female
16                      Male
17                      Male
18                    Female
19                      Male
20                      Male
21                      Male
22     Other / Non-Disclosed
23                      Male
24                      Male
25                      Male
26                      Male
27                      Male
28                      Male
29                      Male
               ...
750                     Male
751                     Male
752                     Male
753                     Male
754                   Female
755                     Male
756                     Male
757                     Male
758                     Male
759                     Male
760                     Male
761                     Male
762                     Male
763                     Male
764                     Male
765                     Male
766                     Male
767                   Female
768                     Male
769                     Male
770                     Male
771                     Male
772                     Male
773                     Male
774                     Male
775                   Female
776                     Male
777                     Male
778                     Male
779                     Male
Name: Gender, Length: 780, dtype: object

In [13]:
gender_count1 = gender_counts.value_counts()
gender_count1

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [14]:
gender_count1 / ave_price

Male                     213.701324
Female                    37.037193
Other / Non-Disclosed      4.916442
Name: Gender, dtype: float64

In [15]:
gender_count1 / num_purchase

Male                     0.835897
Female                   0.144872
Other / Non-Disclosed    0.019231
Name: Gender, dtype: float64

In [16]:
gender_counts_df = pd.DataFrame(gender_counts.value_counts())
gender_counts_df = gender_counts_df.rename(columns = {"Gender":"Total Count"})
gender_counts_df

                       Total Count
Male                           652
Female                         113
Other / Non-Disclosed           15

In [17]:
purchase_data.loc[purchase_data["Gender"] == "Male"].count()

Purchase ID    652
SN             652
Age            652
Gender         652
Item ID        652
Item Name      652
Price          652
dtype: int64

In [18]:
total_count = purchase_data.count()
total_count

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [19]:
percentage_gender = gender_counts.value_counts() / gender_counts.count()
percentage_gender = percentage_gender.map("{:,.2%}".format)
percentage_gender

Male                     83.59%
Female                   14.49%
Other / Non-Disclosed     1.92%
Name: Gender, dtype: object

In [20]:
# GENDER DEMOGRAPHICS FINAL TABLE

gender_demographics_df = pd.DataFrame({"Percentage of Players": percentage_gender, "Total Count": gender_count1})

gender_demographics_df.reset_index()
gender_demographics_df.head()

                      Percentage of Players  Total Count
Male                                 83.59%          652
Female                               14.49%          113
Other / Non-Disclosed                 1.92%           15

In [21]:
purchasing_analysis_df = pd.DataFrame({
    "Total Purchase Price": ave_price,
    "Total Count": gender_count1,
    "Total Purchase Value": total_revenue / gender_count1,
})

purchasing_analysis_df.head()

                       Total Purchase Price  Total Count  Total Purchase Value
Male                               3.050987          652              3.649954
Female                             3.050987          113             21.059912
Other / Non-Disclosed              3.050987           15            158.651333

In [22]:
grouped_purchased_by_gender = purchase_data.groupby(["Gender"])
grouped_purchased_by_gender.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [23]:
grouped_ave = grouped_purchased_by_gender["Price"].mean()
grouped_ave

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [24]:
grouped_sum_ave = grouped_purchased_by_gender["Price"].sum()
grouped_sum_ave

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [52]:
#  Purchasing Analysis (Gender)FINAL TABLE
purchase_a_df = pd.DataFrame({
    "Purchase Count": gender_count1,
    "Average Purchase Price": grouped_ave,
    "Total Purchase Value": grouped_sum_ave,
    "Ave Purchase Total per Person": grouped_ave,
    
})

purchase_a_df["Average Purchase Price"] = purchase_a_df["Average Purchase Price"].map("${:,.2f}".format)
purchase_a_df["Total Purchase Value"] = purchase_a_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_a_df["Ave Purchase Total per Person"] = purchase_a_df["Ave Purchase Total per Person"].map("${:,.2f}".format)

purchase_a_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Ave Purchase Total per Person
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

In [26]:
# Age Demigraphics
# Establish bins for ages

# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_bin = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
age_bin

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
5      20-24
6      35-39
7      20-24
8      20-24
9      35-39
10     20-24
11     20-24
12     20-24
13     20-24
14     35-39
15     20-24
16     20-24
17     20-24
18     20-24
19     30-34
20     20-24
21     20-24
22     35-39
23       40+
24     30-34
25     25-29
26     10-14
27       <10
28     20-24
29     20-24
       ...
750    20-24
751    10-14
752    15-19
753    35-39
754    20-24
755    10-14
756    20-24
757    15-19
758    20-24
759    25-29
760    20-24
761      40+
762    25-29
763    20-24
764    15-19
765    15-19
766    20-24
767      <10
768    35-39
769    15-19
770    30-34
771    15-19
772    25-29
773    20-24
774    10-14
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [27]:
purchase_data["Age"] = pd.cut(purchase_data ["Age"], age_bins, labels=group_names)
purchase_data

purchase_data["Age"].value_counts()

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age, dtype: int64

In [28]:
bins_total_count = purchase_data["Age"].value_counts()
bins_total_count

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age, dtype: int64

In [29]:
bins_percent = bins_total_count / total_unique_players
bins_percent = bins_percent.map("{:,.2%}".format)
bins_percent

20-24    63.37%
15-19    23.61%
25-29    17.53%
30-34    12.67%
35-39     7.12%
10-14     4.86%
<10       3.99%
40+       2.26%
Name: Age, dtype: object

In [30]:
# AGE DEMOGRAPHCS - FINAL TABLE

age_bins_df = pd.DataFrame({
    "Percentage of Players": bins_percent,
    "Total count": bins_total_count,
})
age_bins_df

      Percentage of Players  Total count
20-24                63.37%          365
15-19                23.61%          136
25-29                17.53%          101
30-34                12.67%           73
35-39                 7.12%           41
10-14                 4.86%           28
<10                   3.99%           23
40+                   2.26%           13

In [31]:
# Purchasing Age Analysis
purchase_data1 = purchase_data
purchase_data1

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20-24,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40+,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,20-24,Male,92,Final Critic,4.88
3,3,Chamassasya86,20-24,Male,100,Blindscythe,3.27
4,4,Iskosia90,20-24,Male,131,Fury,1.44
5,5,Yalae81,20-24,Male,81,Dreamkiss,3.61
6,6,Itheria73,35-39,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20-24,Male,162,Abyssal Shard,2.67
8,8,Undjask33,20-24,Male,21,Souleater,1.10
9,9,Chanosian48,35-39,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,20-24,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,20-24,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,20-24,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,20-24,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35-39,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,20-24,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20-24,Male,40,Second Chance,2.52
17,17,Zontibe81,20-24,Male,161,Devine,1.76
18,18,Reunasu60,20-24,Female,82,Nirvana,4.90
19,19,Chamalo71,30-34,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20-24,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20-24,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,35-39,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40+,Male,151,Severance,3.40
24,24,Siala43,30-34,Male,141,Persuasion,3.19
25,25,Lisirra87,25-29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,10-14,Male,71,Demise,1.61
27,27,Eusri44,<10,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,20-24,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,20-24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,20-24,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,10-14,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,15-19,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,35-39,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,20-24,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,10-14,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20-24,Male,73,Ritual Mace,2.05
757,757,Eratiel90,15-19,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,20-24,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25-29,Male,72,Winter's Bite,3.77
760,760,Aithelis62,20-24,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,40+,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,25-29,Male,110,Suspension,1.44
763,763,Lassilsala30,20-24,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,15-19,Male,113,Solitude's Reaver,4.07
765,765,Irith83,15-19,Male,130,Alpha,2.07
766,766,Aelastirin39,20-24,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,<10,Female,92,Final Critic,4.88
768,768,Assassasta79,35-39,Male,92,Final Critic,4.88
769,769,Ilosian36,15-19,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,30-34,Male,12,Dawne,1.02
771,771,Iskossasda43,15-19,Male,25,Hero Cane,4.35
772,772,Asur53,25-29,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,20-24,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,10-14,Male,101,Final Critic,4.19
775,775,Aethedru70,20-24,Female,60,Wolf,3.54
776,776,Iral74,20-24,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20-24,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,<10,Male,101,Final Critic,4.19
779,779,Ennrian78,20-24,Male,50,Dawn,4.60

In [32]:
grouped_ave_purchases = purchase_data1.groupby(["Age"])
grouped_ave_purchases1 = grouped_ave_purchases["Price"].mean()
grouped_ave_purchases1

Age
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [33]:
grouped_sum_purchases = purchase_data1.groupby(["Age"])
grouped_sum_purchases1 = grouped_ave_purchases["Price"].sum()
grouped_sum_purchases1

Age
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [34]:
bins_total_count = purchase_data["Age"].value_counts()
bins_total_count

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age, dtype: int64

In [50]:
# PURCHASE ANALYSIS PER AGE - FINAL TABLE

purchase_age_df = pd.DataFrame({
    "Purchase Count": bins_total_count,
    "Average Purchase Price": grouped_ave_purchases1,
    "Total Purchase Value": grouped_sum_purchases1,
    "Average Purchase Total per Person": grouped_sum_purchases1, 
})

purchase_age_df["Average Purchase Price"] = purchase_age_df["Average Purchase Price"].map("${:,.2f}".format)
purchase_age_df["Total Purchase Value"] = purchase_age_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_age_df["Average Purchase Total per Person"] = purchase_age_df["Average Purchase Total per Person"].map("${:,.2f}".format)

purchase_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
10-14,28,$2.96,$82.78,$82.78
15-19,136,$3.04,$412.89,$412.89
20-24,365,$3.05,"$1,114.06","$1,114.06"
25-29,101,$2.90,$293.00,$293.00
30-34,73,$2.93,$214.00,$214.00
35-39,41,$3.60,$147.67,$147.67
40+,13,$2.94,$38.24,$38.24
<10,23,$3.35,$77.13,$77.13

In [36]:
# Top Spender

grouped_purchase_by_name = purchase_data.groupby(["SN"])
grouped_purchase_by_name_sum = grouped_purchase_by_name["Price"].sum()
grouped_purchase_by_name_sum

SN
Adairialis76       2.28
Adastirin33        4.48
Aeda94             4.91
Aela59             4.32
Aelaria33          1.79
Aelastirin39       7.29
Aelidru27          1.09
Aelin32            8.98
Aelly27            6.79
Aellynun67         3.74
Aellyria80         3.08
Aelollo59          5.63
Aenarap34          2.96
Aeral43            4.40
Aeral68            4.00
Aeral97            4.80
Aeralria27         4.09
Aeralstical35      2.96
Aeri84             1.61
Aerillorin70       3.33
Aerithllora36      8.64
Aerithnucal56      4.40
Aerithnuphos61     4.91
Aerithriaphos45    1.56
Aerithriaphos46    2.18
Aesri53            1.76
Aesty53            3.91
Aestysu37          5.38
Aesur96            2.21
Aesurstilis64      1.03
                   ...
Undosia27          3.77
Undosian34         8.30
Undotesta33        4.74
Wailin72           2.73
Yadacal26          6.54
Yadaisuir65        4.09
Yadam35            2.48
Yadanu52           2.38
Yadaphos40         5.35
Yalae81            6.69
Yalaeria91         1.06
Yaliru88           3.03
Yalo85             3.65
Yalostiphos68      4.40
Yana46             3.55
Yarithllodeu72     3.75
Yarithrgue83       3.45
Yarithrin84        4.14
Yarithsurgue62     4.94
Yarolwen77         4.43
Yasrisu92          3.44
Yastyriaphos75     4.75
Yasur35            4.48
Yasur85            1.10
Yathecal72         3.46
Yathecal82         6.22
Yathedeu43         6.02
Yoishirrala98      4.58
Zhisrisu83         7.89
Zontibe81          8.03
Name: Price, Length: 576, dtype: float64

In [37]:
name_count = purchase_data["SN"].value_counts()
name_count

Lisosia93         5
Iral74            4
Idastidru52       4
Strithenu87       3
Hada39            3
Pheodaisun84      3
Lisopela58        3
Siallylis44       3
Tyisur83          3
Sondastsda82      3
Chamimla85        3
Saistyphos30      3
Tyidaim51         3
Zontibe81         3
Chanastnya43      3
Rarallo90         3
Iri67             3
Yathecal82        3
Silaera56         3
Saedaiphos46      3
Ialallo29         3
Asur53            3
Phyali88          3
Lassilsala30      3
Aelin32           3
Raesty92          3
Chamjask73        3
Idai61            3
Hiaral50          3
Haillyrgue51      3
                 ..
Chanilsasda38     1
Iduenu77          1
Lassassasda30     1
Minduri31         1
Iana95            1
Alim85            1
Ilosian36         1
Haedairiadru51    1
Maridisya31       1
Rianistast50      1
Risty84           1
Styaduen40        1
Jiskjask80        1
Undassa89         1
Ryanara76         1
Malon70           1
Heollyra92        1
Lisista27         1
Firon67           1
Tyananurgue44     1
Saena74           1
Eolan54           1
Yastyriaphos75    1
Chanossast57      1
Seuthep89         1
Lisirra87         1
Frichosia58       1
Iasurriacal29     1
Rithe53           1
Assylla81         1
Name: SN, Length: 576, dtype: int64

In [38]:
grouped_purchase_by_name_sum_df = pd.DataFrame({
    "Grouped Price": grouped_purchase_by_name_sum
})
sorted_grouped_purchase_by_name_sum = grouped_purchase_by_name_sum_df.sort_values(by="Grouped Price", ascending=False).head(5)
sorted_grouped_purchase_by_name_sum

             Grouped Price
SN
Lisosia93            18.96
Idastidru52          15.45
Chamjask73           13.83
Iral74               13.62
Iskadarya95          13.10

In [39]:
sorted_grouped_purchase_by_name_sum_col = sorted_grouped_purchase_by_name_sum["Grouped Price"]
sorted_grouped_purchase_by_name_sum_col

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Grouped Price, dtype: float64

In [48]:
# TOP SPENDERS - FINAL TABLE

top_spenders_df = pd.DataFrame({
    "Purchase Count": name_count,
    "Average Purchase Price": grouped_purchase_by_name_sum / name_count,
    "Total Purchase Value": grouped_purchase_by_name_sum,
})

top_spenders_df = top_spenders_df.sort_values(by="Total Purchase Value", ascending=False).head(5)
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:,.2f}".format)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:,.2f}".format)

top_spenders_df

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [41]:
# most popular items

purchase_data2 = purchase_data
purchase_data2

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20-24,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40+,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,20-24,Male,92,Final Critic,4.88
3,3,Chamassasya86,20-24,Male,100,Blindscythe,3.27
4,4,Iskosia90,20-24,Male,131,Fury,1.44
5,5,Yalae81,20-24,Male,81,Dreamkiss,3.61
6,6,Itheria73,35-39,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20-24,Male,162,Abyssal Shard,2.67
8,8,Undjask33,20-24,Male,21,Souleater,1.10
9,9,Chanosian48,35-39,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,20-24,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,20-24,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,20-24,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,20-24,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35-39,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,20-24,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20-24,Male,40,Second Chance,2.52
17,17,Zontibe81,20-24,Male,161,Devine,1.76
18,18,Reunasu60,20-24,Female,82,Nirvana,4.90
19,19,Chamalo71,30-34,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20-24,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20-24,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,35-39,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40+,Male,151,Severance,3.40
24,24,Siala43,30-34,Male,141,Persuasion,3.19
25,25,Lisirra87,25-29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,10-14,Male,71,Demise,1.61
27,27,Eusri44,<10,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,20-24,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,20-24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,20-24,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,10-14,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,15-19,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,35-39,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,20-24,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,10-14,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20-24,Male,73,Ritual Mace,2.05
757,757,Eratiel90,15-19,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,20-24,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25-29,Male,72,Winter's Bite,3.77
760,760,Aithelis62,20-24,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,40+,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,25-29,Male,110,Suspension,1.44
763,763,Lassilsala30,20-24,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,15-19,Male,113,Solitude's Reaver,4.07
765,765,Irith83,15-19,Male,130,Alpha,2.07
766,766,Aelastirin39,20-24,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,<10,Female,92,Final Critic,4.88
768,768,Assassasta79,35-39,Male,92,Final Critic,4.88
769,769,Ilosian36,15-19,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,30-34,Male,12,Dawne,1.02
771,771,Iskossasda43,15-19,Male,25,Hero Cane,4.35
772,772,Asur53,25-29,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,20-24,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,10-14,Male,101,Final Critic,4.19
775,775,Aethedru70,20-24,Female,60,Wolf,3.54
776,776,Iral74,20-24,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20-24,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,<10,Male,101,Final Critic,4.19
779,779,Ennrian78,20-24,Male,50,Dawn,4.60

In [42]:
# most popular items

most_pop_cols = purchase_data.loc[:, ["Item ID", "Item Name", "Price",
                          ]]
most_pop_cols.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [43]:
# most popular items

most_pop_cols_group = most_pop_cols.groupby(["Item ID", "Item Name"])

most_pop_cols_group_df = pd.DataFrame({
    "Purchase Count": most_pop_cols_group["Price"].count(),
    "Item Price": most_pop_cols_group["Price"].mean(),
    "Total Purchase Value": most_pop_cols_group["Price"].sum(),
})
most_pop_cols_group_df.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4        1.28                  5.12
1       Crucifer                         3        3.26                  9.78
2       Verdict                          6        2.48                 14.88
3       Phantomlight                     6        2.49                 14.94
4       Bloodlord's Fetish               5        1.70                  8.50

In [44]:
# MOST POPULAR ITEMS - FINAL TABLE

most_pop_cols_group = most_pop_cols.groupby(["Item ID", "Item Name"])
most_pop_cols_group_df = pd.DataFrame({
    "Purchase Count": most_pop_cols_group["Price"].count(),
    "Item Price": most_pop_cols_group["Price"].mean(),
    "Total Purchase Value": most_pop_cols_group["Price"].sum(),
})
most_pop_cols_group_df.head()
sorted_most_pop = most_pop_cols_group_df.sort_values(by="Purchase Count", ascending=False)


sorted_most_pop["Item Price"] = sorted_most_pop["Item Price"].map("${:,.2f}".format)
sorted_most_pop["Total Purchase Value"] = sorted_most_pop["Total Purchase Value"].map("${:,.2f}".format)
sorted_most_pop.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [153]:
# CONCLUSION:

# The company recorded annual income for $2,379.77 trough a diverse 
# portfolio of items from the video game heroes of Pymoli.

# The revenue was generated by a total of 576 players.
# Mayority of the players were male. Revenue was generated by male players in aproximatly 84%
# However, it is important to mention that the average purchase price for items was higher for femal players
# The company should explore this market. It could be bring potential revenue.

#